/* General Styles */
body {
  font-family: "Arial", sans-serif, Kantumruy Pro;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

/* Logo */
.logo {
  top: 150px;
  left: 863px;
  width: 111px;
  height: 112px;
  background: transparent  0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 0.75rem;
}

/* Header */
.header {
left: 787px;
width: 348px;
height: 54px;
text-align: center;
font: normal normal bold 24px/54px Recoleta;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.header::after {
  content: "";
  display: block;
  margin: 1px auto 0;
  border-radius: 5px;
width: 50%;
height: 6px;
background: #8967B3 0% 0% no-repeat padding-box;
border-radius: 5px;
margin-top: -0.4rem;
}

/* Form Title */
.form-title {
  top: 531px;
  left: 707px;
  width: 102px;
  height: 30px;
  text-align: left;
  font: normal normal bold 24px/41px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* Input Group */
.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

.input-group input {
  border: none;
  outline: none;
  top: 597px;
  left: 707px;
  width: 327px;
  height: 50px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 17px;
}

/* Password Group */
.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translateY(-40%);
  cursor: pointer;
  color: #383737;
  font-size: 20px;
}

/* Submit Button */
.submit-button {
  border: none;
  outline: none;
  width: 130px;
  height: 50px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: white;
  text-align: center;
  font: normal normal bold 18px/36px Kantumruy Pro;
  letter-spacing: 0px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.submit-button.active {
  background: #8967b3;
  border-radius: 15px;
}

/* Links Container */
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%; /* Align to the form width */
}

/* Forgot Password Link */
.forgot-password {
  display: inline;
  top: 0px;
  left: 0px;
  width: 198px;
  height: 28px;
  text-align: left;
  font: normal normal 18px/28px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 2rem;
}

.forgot-password:hover {
  text-decoration: none;
}
.forgot-password a{
  top: 200px;
  left: 305px;
  width: 51px;
  height: 28px;
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 18px/28px Kantumruy Pro;
  letter-spacing: 0px;
  color: #0C47EC;
}
/* "First Time Logging In?" Paragraph */
.new-user {
  top: 0px;
  left: 0px;
  width: 305px;
  height: 28px;
  text-align: left;
  font: normal normal  18px/28px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
}

.new-user a {
  top: 200px;
  left: 305px;
  width: 51px;
  height: 28px;
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 18px/28px Kantumruy Pro;
  letter-spacing: 0px;
  color: #0C47EC;
}

.new-user a:hover {
  text-decoration: underline;
}
