.logo {
    text-align: center;
    margin: 70px 0;
  }
  
  .logo img {
    top: 24px;
    left: 152px;
    width: 93px;
    height: 93px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom:2rem;
    margin-left: 11rem;
  }
  