.logo {
    text-align: center;
    margin: 32px 0;
  }
  
  .logo img {
    margin-top: 2rem;
    left: 152px;
    width: 93px;
    height: 93px;
    /* UI Properties */
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
  }
  